.exp-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.exp-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  gap: 40px;
  padding-bottom: 5rem;
}

.exp-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  border-radius: 10px;
}
.exp-card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.exp-title {
  color: #fff;
  padding: 1rem 0;
}

.exp-details p {
  font-size: 1.1rem;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.exp-btns {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.exp-btns .btn {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
  .exp-container {
    max-width: 90%;
    margin: auto;

    grid-template-columns: 1fr;
  }
}
